<section class="about_holder">
<%= image_tag 'red_pattern.png', class: "page_red_pattern" %>
<%= image_tag 'red_pattern.png', class: "page_red_pattern", style: "bottom: 0px;" %>
<div class="container">
	<div class="row page_title_holder">
		<div class="col" style="position: relative">
			<%= image_tag 'light_sun.png', class: "page_title_sun" %>
			<div class="page_title_inner_holder">
				<span class="page_title_ch">關於我們</span><span class="page_title_en">About us</span>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row" style="margin-bottom: 50px;">
		<div class="col">
			<div>
				<div class="about_title">經營理念</div>
				<%= image_tag 'index/pattern.png', class: "about_pattern" %>
				<div class="about_content">
				富毅（ＦＥＣ）品牌成立於1983年，創業至今已三十年載。秉持著「沒有品質，哪有明天。」的理念為顧客服務，有最堅強的專業陣容，銷售、設計、保養、維修，一貫施工，完全不假他手。本公司以服務和技術起家，配合度高，品質有保障。 三十年來從日本吸取經驗，觀摩當地空調業並引進台灣，最先採用「日本式施工方法」，注重各項工程流程、材料；公司內所有專業技術員皆有台北市電器公會認證合格證照。 多年服務的口碑也被大金、東元列為特約服務站，ㄧ切強調責任施工、永續經營。
				<br>
				<br>
				※ 我們的優質服務宣言：「服務、安裝皆可要求至滿意為止才付費。」 ※
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-bottom: 50px;">
		<div class="col">
			<div class="about_title">報章採訪</div>
			<%= image_tag 'index/pattern.png', class: "about_pattern" %>
			<div>
			本公司每年均會接受全國各報章雜誌之採訪，教導消費者正確的冷氣使用和保養觀念。
			</div>
			<div style="margin-top:20px;">
				<a class="btn about_link" href="https://www.facebook.com/ebcmoney/videos/1047560495346019/?hc_ref=ARSmXGQc0Qj4enj7vmkYV257ge2dpLLFq1WV76glz96KHOylJQ0cXl6NacWLVpI1aAo">東森財經</a>
				<a class="btn about_link" href="http://m.home.appledaily.com.tw/article/realtimenews/20161002/954096/rtn/%E7%A7%8B%E5%86%AC%E8%BD%89%E6%B6%BC">蘋果日報</a>
				<a class="btn about_link" href="http://news.ltn.com.tw/news/life/breakingnews/1843379">自由時報</a>
			</div>
		</div>
	</div>

	<div class="row" style="margin-bottom: 50px;">
		<div class="col-sm-6">
			<div class="about_title">營業項目</div>
			<%= image_tag 'index/pattern.png', class: "about_pattern" %>
			<ul class="about_list">
								<li>變頻分離式、一般分離式</li>
								<li>家用VRV、商用箱型、嵌入式</li>
								<li>中央系統從 1噸-500噸</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<div class="about_title">服務項目</div>
			<%= image_tag 'index/pattern.png', class: "about_pattern" %>
			<ul class="about_list">
								<li>家用冷氣/空調保養維修</li>
								<li>公司機關定期冷氣/空調保養</li>
								<li>中央冷氣/空調風管維修承攬</li>
				</ul>
		</div>
	</div>


	<div class="row" style="padding-bottom: 70px;">
		<div class="col-sm-12">
			<div class="about_title">本店特色</div>
			<%= image_tag 'index/pattern.png', class: "about_pattern" %>
			<ul class="about_list">
								<li>台北市政府「公開標價、優良商號」</li>
								<li>日立、大金、三菱世界性經銷商</li>
								<li>大金、東元特約服務維修、協力廠商</li>
								<li>定期客戶四小時內到府服務</li>
								<li>日本式施工方法，注重服務細節</li>
			</ul>
			<%= image_tag 'DAIKIN.png', class: "about_logo" %>
			<%= image_tag 'HITACHI.png', class: "about_logo" %>
		</div>
	</div>
	<!--
	<div class="row" style="margin-bottom: 100px;">
		<div class="col">
			<div>
				<div class="about_title">品牌</div>
				<div class="about_content">
				三十多年前三個年輕小伙子，懷著來台北掏金的夢想，同一時間進入空調產業實習，且四年後共同創業，過去常有句話說「合字很難」，但我們認為唯有合作才會有意想不到的創意與機會。 如今合作已經三十餘年，合夥人已達十多人，那為何這樣一家小公司竟有這麼多股東參與，因為我們創造很多就業機會並和師傅們共享業績，主要理念是「師傅當老闆，工程品質不馬虎」，每裝一台冷氣就會關係著個人與公司信用存亡，唯有如此才能在業界立於不敗領先群雄。
				近年從日本吸取經驗，觀摩當地空調業後，就決定引進台灣，最先採用「日本式施作法」，日本人非常注重各項工程細節，嚴苛的流程及挑剔的材料，並會事先預防日後可能會發生的工程問題；日本式施作法在很多業界都知道，但是考慮成本貴、耗時…等因素，都捨棄不做…，唯有富毅（ＦＥＣ）不計成本堅持採用，給顧客最好的工程品質。
				iPhone可以維持市場高價，而大家卻心甘情願掏錢購買的原因是什麼？來自它的商譽與價值，我們不是賣iPhone，也不是賣便宜的白牌手機，而是在賣比您想像中更好的服務與價值，聽了我們的故事之後，是否有感同身受？當您家的空調交給我們施工時，我們會以您家就是我家的心態，讓您家更舒適、更安心。
				</div>
				<%= image_tag 'index/pattern.png', class: "about_pattern" %>
			</div>
		</div>
	</div>
	-->
</div>
</section>
