<section class="maintenance_holder">
	<%=image_tag 'maintenance/mainten_ac_inside.gif', class: 'mainten_ac_inside'%>
	<section class="maintenance_first_section">
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col-sm-12 align-self-center">
					<div class="maintenance_first_why mx-auto">
						為什麼要定期保養
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="maintenance_second_section">
		<div class="container-fluid h-100">
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-sm-4 offset-sm-1">
					<div style="position: relative">
						<%= image_tag 'light_sun.png', class: "maintenance_second_section_sun" %>
						<span class="maintenance_sub_title_large second_large_title"><i>杜絕</i></span>
						<span class="maintenance_sub_title">冷氣病</span>
					</div>
					<div class="maintenance_sub_desc">
						冷氣病是一種因為冷氣內部滋生細菌病毒及過敏原蟎蟲，造成細菌性感染疾病或過敏反應的綜合症狀。
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-sm-4 offset-sm-4">
					<div>
						<span class="maintenance_sub_title_large second_large_title"><i>預防</i></span>
						<span class="maintenance_sub_title">退伍軍人症</span>
					</div>
					<div class="maintenance_sub_desc">
						退伍軍人症會造成患者發高燒、發冷、咳嗽。部份患者會有肌肉痛、厭食、倦怠、頭腹痛及腹瀉等症狀。最嚴重的是約有5%至30%的致死率。
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom: 20px;">
				<div class="col-sm-4 offset-sm-7">
					<div>
						<span class="maintenance_sub_title_large second_large_title"><i>增加</i></span>
						<span class="maintenance_sub_title">冷氣壽命</span>
					</div>
					<div class="maintenance_sub_desc">
						定期保養冷氣，可以延長冷氣機壽命，冷氣耗電量、冷房能力都可以保持最佳狀態。
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="maintenance_third_section">
		<div class="container-fluid h-100" style="">
			<div class="row h-100">
				<div class="col-md-5 offset-md-1 align-self-center text-center" style="position: relative">
					<%= image_tag 'maintenance/mainten_fec.png', class: 'mainten_fec'%>
					<%= image_tag 'dark_sun.png', class: "maintenance_third_section_sun third_section_sun_1", style: "width: 13%; top: 0%;" %>
					<%= image_tag 'dark_sun.png', class: "maintenance_third_section_sun third_section_sun_2", style: "width: 10%; top: 20%; left: -1%;" %>
					<%= image_tag 'dark_sun.png', class: "maintenance_third_section_sun third_section_sun_3", style: "width: 20%; bottom: -20%; right: 20%;" %>
				</div>
				<div class="col-md-5 align-self-center">
					<div class="mx-auto">
					<div class="maintenance_third_title">冷氣專家</div>
					<div class="maintenance_third_title_desc">專業保養</div>
					<ul class="list-unstyled maintenance_third_list">
						<li>
							<span class="maintenance_sub_title">業界最強</span><br>
							<span class="maintenance_sub_desc">30年以上的維修保養專業，有些電器行保養時反而破壞到您的主機，得不償失。</span>
						</li>
						<li>
							<span class="maintenance_sub_title">定期提醒</span><br>
							<span class="maintenance_sub_desc">客戶保養資料建檔, 針對不同機型的客戶定期提醒該保養的時間。</span>
						</li>
						<li>
							<span class="maintenance_sub_title">不浮濫收費</span><br>
							<span class="maintenance_sub_desc">不任意告訴客人更換零件，故意賺取而外價格。</span>
						</li>
						<li>
							<span class="maintenance_sub_title">服務最快</span><br>
							<span class="maintenance_sub_desc">最快4小時內到達服務。</span>
						</li>
					</ul>
				</div>
				</div>
			</div>
		</div>
	</section>
	<section class="maintenance_forth_section">
		<div class="container-fluid h-100" style="">
			<div class="row h-100">
				<div class="col-md-4 offset-md-2 align-self-center">
					<div class="mx-auto">
					<div class="maintenance_third_title">三保</div>
					<div class="maintenance_third_title_desc">保養方式</div>
					<ul class="list-unstyled maintenance_third_list">
						<li>
							<span class="maintenance_sub_title">不定期保養</span><br>
							<span class="maintenance_sub_desc">有故障時出勤費一次收費500元，其他費用另計。</span>
						</li>
						<li>
							<span class="maintenance_sub_title">每月定期保養</span><br>
							<span class="maintenance_sub_desc">通知後最快４小時內到達服務地點，出勤費不計。</span>
						</li>
						<li>
							<span class="maintenance_sub_title">每年定期保養</span><br>
							<span class="maintenance_sub_desc">通知後最快8小時內到達服務地點，出勤費不計。</span>
						</li>
					</ul>
					</div>
				</div>
				<div class="col-md-5 align-self-center text-center d-none d-sm-block d-md-block d-lg-block d-xl-block" style="position: relative">
					<%=image_tag 'maintenance/mainten_sun.png', class: 'mainten_sun'%>
					<%= image_tag 'dark_sun.png', class: "maintenance_forth_section_sun forth_section_sun_1", style: "width: 13%; top: 0%;" %>
					<%= image_tag 'dark_sun.png', class: "maintenance_forth_section_sun forth_section_sun_2", style: "width: 10%; top: 20%; left: -1%;" %>
					<%= image_tag 'dark_sun.png', class: "maintenance_forth_section_sun forth_section_sun_3", style: "width: 20%; bottom: -20%; right: 20%;" %>
				</div>
			</div>
		</div>
	</section>
	<section class="maintenance_fifth_section">
	<div class="container-fluid h-100">
		<div class="row h-100">
			<div class="col-sm-5 offset-sm-1 align-self-center text-center">
				<%=image_tag 'maintenance/mainten_outside.png', class: 'mainten_outside'%>
			</div>
			<div class="col-sm-offset-1 col-sm-5 mx-auto">
					<div class="maintenance_third_title_desc mx-auto" style="width: 220px;">每年保養種類</div>
					<ul class="list-unstyled maintenance_fifth_list">
						<li>冷氣機外部整理清潔</li><li>蒸發器藥水清洗、馬達上油</li>
						<li>風扇葉清洗</li><li>水盤清洗</li><li>排水管高壓清水沖洗</li>
						<li>室外機高壓水柱清洗</li><li>皮帶調整檢查</li><li>電壓及運轉電流測試</li>
						<li>壓縮機運轉檢查</li><li>冷卻水塔藥水清理 </li><li>過濾網清洗</li>
					</ul>
					<br><br>
					<div class="maintenance_third_title_desc mx-auto" style="width: 220px;">每月保養種類</div>
					<ul class="list-unstyled maintenance_fifth_list">
						<li>冷氣機外部整理清潔</li>
						<li>過濾網清洗</li>
						<li>電壓及運轉測試 </li>
					</ul>
				</div>
		</div>
	</div>
	</section>






<!--
<section class="forth_section_main" style="height: 700px; width: 100%">
<div class="container-fluid" style="color:#5b4a42">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-2">
		<div class="maintenance_third_title">三保</div>
		<div class="maintenance_third_title_desc">保養方式</div>
		<ul class="list-unstyled maintenance_third_list">
			<li>
				<span class="maintenance_third_small_title">不定期保養</span><br>
				<span class="maintenance_third_desc">有故障時出勤費一次收費500元，其他費用另計。</span>
			</li>
			<li>
				<span class="maintenance_third_small_title">每月定期保養</span><br>
				<span class="maintenance_third_desc">通知後最快４小時內到達服務地點，出勤費不計。</span>
			</li>
			<li>
				<span class="maintenance_third_small_title">每年定期保養</span><br>
				<span class="maintenance_third_desc">通知後最快8小時內到達服務地點，出勤費不計。</span>
			</li>
		</ul>
		</div>
		<div class="col-sm-6 hidden-xs  hidden-sm">
			<div class="row">
				<div class="col-sm-6">
					<%=image_tag 'main_ball1.svg', class: 'img-responsive forth_ball_1', style: 'height: 100px; position: relative; top: -50px;'%>
				</div>
				<div class="col-sm-6">
					<%=image_tag 'main_ball2.svg', class: 'img-responsive forth_ball_2', style: 'height: 50px; position: relative;'%>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<%=image_tag 'main_big_ball.svg', class: 'img-responsive forth_ball_3', style: 'height: 450px; position: relative; top: -100px;'%>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<%=image_tag 'main_ball3.svg', class: 'img-responsive forth_ball_4', style: 'height: 90px; position: relative; top: -120px;'%>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
-->

</section>


<script>
$(function(){

	var controller = new ScrollMagic.Controller();
	var winHeight= $(window).innerHeight();
	var winWidth = $(window).width();
	var acInsideWidth = $('.mainten_ac_inside').width();
	var acInsideHeight = $('.mainten_ac_inside').height();
	//set ac default top
	$('.mainten_ac_inside').css( "top", winHeight/2-acInsideHeight/2 );

	var origin = (acInsideWidth).toString()+"px "+(winHeight).toString()+"px";
	var scal   = 0.5
	var params = { transformOrigin: "100%", scale: scal };
	var tween = TweenMax.to(".mainten_ac_inside", 1, {});
	tween.updateTo(params, true);

	new ScrollMagic.Scene({triggerElement: ".maintenance_first_section", duration: 1000, triggerHook: "0.001"})
			.setTween(tween) // trigger a TweenMax.to tween
			.addTo(controller)
	//var scene_2 = new ScrollMagic.Scene({triggerElement: ".maintenance_first_section", duration: 500, triggerHook: "0.1"})
	//							.setPin(".mainten_ac_inside", {pushFollowers: false})
	//							.addTo(controller);

	new ScrollMagic.Scene({triggerElement: ".maintenance_second_section"})
				.setTween(TweenMax.to(".second_large_title", 1, {autoAlpha: 1, ease: Linear.easeNone}))
				.addTo(controller)
	new ScrollMagic.Scene({triggerElement: ".maintenance_second_section", triggerHook: "1"})
				.setTween(TweenMax.from(".maintenance_second_section_sun", 1, {top: "50px", ease: Linear.easeNone}))
				.addTo(controller)
	new ScrollMagic.Scene({triggerElement: ".maintenance_fifth_section", duration: 350})
											.setTween(TweenMax.from(".mainten_outside", 2, { scale: 0.7 })) // trigger a TweenMax.to tween
											.addTo(controller)
	new ScrollMagic.Scene({triggerElement: ".maintenance_third_section", triggerHook: "1"})
											.setTween(TweenMax.from(".third_section_sun_1", 1, {top: "20%", ease: Linear.easeNone}))
											.addTo(controller)
	new ScrollMagic.Scene({triggerElement: ".maintenance_third_section", triggerHook: "1"})
											.setTween(TweenMax.from(".third_section_sun_2", 1, {top: "5%", ease: Linear.easeNone}))
											.addTo(controller)
	new ScrollMagic.Scene({triggerElement: ".maintenance_third_section", triggerHook: "1"})
											.setTween(TweenMax.from(".third_section_sun_3", 1, {bottom: "-45%", ease: Linear.easeNone}))
											.addTo(controller)

	new ScrollMagic.Scene({triggerElement: ".maintenance_forth_section", triggerHook: "1"})
											.setTween(TweenMax.from(".mainten_sun", 1, {top: "5%", ease: Linear.easeNone}))
											.addTo(controller)
	new ScrollMagic.Scene({triggerElement: ".maintenance_forth_section", triggerHook: "1"})
											.setTween(TweenMax.from(".forth_section_sun_1", 1, {top: "5%", ease: Linear.easeNone}))
											.addTo(controller)
	new ScrollMagic.Scene({triggerElement: ".maintenance_forth_section", triggerHook: "1"})
											.setTween(TweenMax.from(".forth_section_sun_2", 1, {top: "30%", ease: Linear.easeNone}))
											.addTo(controller)
	new ScrollMagic.Scene({triggerElement: ".maintenance_forth_section", triggerHook: "1"})
											.setTween(TweenMax.from(".forth_section_sun_3", 1, {bottom: "-55%", ease: Linear.easeNone}))
											.addTo(controller)



	$(window).on("resize", function () {
			var winHeight= $(window).innerHeight();
			var acInsideHeight = $('.mainten_ac_inside').height();
			$('.mainten_ac_inside').css( "top", winHeight/2-acInsideHeight/2 );
			//tween.updateTo({}, true);
			//scene_1.setTween(tween);
										//windowHeight = $(window).innerHeight();
							 			//$(".old_ac").css({"width": $(window).width()*1.4, "margin-left": -($(window).width()*0.9)});
										/*
										winHeight= $(window).innerHeight();
										winWidth = $(window).width();
										acInsideWidth = $('.mainten_ac_inside').width();
										origin = (acInsideWidth).toString()+"px "+(winHeight).toString()+"px";
										scal   = 0.5*(winWidth/1892);
										params = { transformOrigin: origin, scale: scal };
										tween = TweenMax.to(".mainten_ac_inside", 1, {});
										tween.updateTo(params, true);
										scene_1.setTween(tween);*/
								});
/*
	var scene = new ScrollMagic.Scene({triggerElement: ".index_holder", tweenChanges: true})
					.setTween(tween)
					.addTo(controller)*/
  });


/*
var controller;
$(document).ready(function($) {

	controller = new ScrollMagic();

	var winHeight= $(window).innerHeight();
	var winWidth = $(window).width();
	var origin = (2400).toString()+"px "+(winHeight).toString()+"px";
	var scal   = 0.5*(winWidth/1892);
	var params = { transformOrigin: origin, scale: scal };
	var tween = TweenMax.to(".old_ac", 1, {});
	tween.updateTo(params, true);
	var scene_1 = new ScrollScene({triggerElement: ".first_section_main", triggerHook: "0.001", duration: 1000})
								.setTween(tween) // trigger a TweenMax.to tween
								.addTo(controller)
	var scene_2 = new ScrollScene({triggerElement: ".first_section_main", duration: 1000, triggerHook: "0.1"})
								.setPin(".old_ac", {pushFollowers: false})
								.addTo(controller);*/
/*


	new ScrollScene({triggerElement: ".forth_section_main", triggerHook: "1"})
								.setTween(TweenMax.from(".forth_ball_1", 1, {top: "-10px", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".forth_section_main", triggerHook: "1"})
								.setTween(TweenMax.from(".forth_ball_2", 1, {top: "50px", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".forth_section_main", triggerHook: "1"})
								.setTween(TweenMax.from(".forth_ball_3", 1, {top: "0px", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".forth_section_main", triggerHook: "1"})
								.setTween(TweenMax.from(".forth_ball_4", 1, {top: "-20px", ease: Linear.easeNone}))
								.addTo(controller)
*/


//});
</script>
