<div>
<%=image_tag 'old_ac.svg', class: 'old_ac hidden-xs', style: 'width: 2400px; position: absolute; right: 2400px; top: -200px; z-index: 0;'%>
<section class="first_section_main" style="height: 1200px; width: 100%; background: none;">
<div class="container-fluid" style="">
	<div class="row" style="margin-top: 150px;">
		<div class="col-sm-4 hidden-xs  hidden-sm">
			<div class="pull-left" style="margin-top: 100px;
										  word-break: break-all;
										  width: 20px;
										  line-height: 30px;
										  font-size: 20px;
										  color:#ffffff;
										  letter-spacing: 4px;">MAINTENANCE</div>
		</div>
		<div class="col-sm-4">
			<div style="border: 3px solid; color:#ffffff; background:#5b4a42; font-size: 35px; width: 60px; padding: 10px;" class="center-block">
				為什麼<span style="margin-left: 60px;">WHY?</span>要定期保養
			</div>
		</div>
		<div class="col-sm-4 hidden-xs hidden-sm">
			<div class="pull-right" style="margin-top: 100px;
										   word-break: break-all;
										   width: 20px;
										   line-height: 30px;
										   font-size: 20px;
										   color:#ffffff;
										   letter-spacing: 4px;">MAINTENANCE</div>
		</div>
	</div>
</div>
</section>
<section class="second_section_main" style="height: 700px; width: 100%">
<div class="container-fluid" style="color:#5b4a42">
	<div class="row second_1_main">
		<div class="col-sm-3 col-sm-offset-1">
			<span class="maintenance_second_title_large second_1_main" style="visibility: hidden;">
			杜絕
			</span>
			<span class="maintenance_second_title_small">
			冷氣病
			</span>
		</div>
	</div>
	<div class="row second_1_main">
		<div class="col-sm-3 col-sm-offset-1">
			<div class="maintenance_second_desc">
			冷氣病是一種因為冷氣內部滋生細菌病毒及過敏原蟎蟲, 造成細菌性感染疾病(感冒症狀、發熱、畏寒、胸痛、咳嗽)或過敏反應(嗓子變啞、喉痛)的綜合症狀。
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 30px;">
		<div class="col-sm-3 col-sm-offset-1">
			<span class="maintenance_second_title_large second_2_main" style="visibility: hidden;">
			預防
			</span>
			<span class="maintenance_second_title_small">
			退伍軍人症
			</span>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-sm-offset-1">
			<div class="maintenance_second_desc">
			退伍軍人症是因為嗜肺軍團菌在大樓空調冷卻水塔或冷氣冷凝器上培養繁殖，造成患者發高燒、發冷、乾咳或有痰。部份患者會有肌肉痛、厭食、倦怠、頭痛、腹痛及腹瀉等症狀有些甚至會引發肺炎。最嚴重的是約有5%至30%的致死率。
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 30px;">
		<div class="col-sm-3 col-sm-offset-1">
			<span class="maintenance_second_title_large second_3_main" style="visibility: hidden;">
			增加
			</span>
			<span class="maintenance_second_title_small">
			冷氣壽命
			</span>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-sm-offset-1">
			<div class="maintenance_second_desc">
			定期保養冷氣，可以延長冷氣機壽命，冷氣耗電量、冷房能力都可以保持最佳狀態。
			</div>
		</div>
	</div>
</div>
</section>
<section class="third_section_main" style="height: 700px; width: 100%">
<div class="container-fluid" style="color:#5b4a42">
	<div class="row">
		<div class="col-sm-6 hidden-xs hidden-sm">
			<div class="row">
				<div class="col-sm-4">
				<%=image_tag 'main_ball1.svg', class: 'third_ball_1 img-responsive center-block', style: 'position: relative; width: 70px;'%>
				</div>
				<div class="col-sm-3 col-sm-offset-4">
				<%=image_tag 'main_ball3.svg', class: 'third_ball_2 img-responsive', style: 'position: relative; top: -60px; width: 100px;'%>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
				<%=image_tag 'main_fec.svg', class: 'img-responsive center-block', style: 'position: relative; top: -100px; width: 400px;'%>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6  col-sm-offset-6">
				<%=image_tag 'main_ball2.svg', class: 'third_ball_3 img-responsive', style: 'width: 180px; position: relative; top: -170px;'%>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="maintenance_third_title">富毅FEC</div>
			<div class="maintenance_third_title_desc">專業保養</div>
			<ul class="list-unstyled maintenance_third_list">
				<li>
					<span class="maintenance_third_small_title">業界最強</span><br>
					<span class="maintenance_third_desc">30年以上的維修保養專業，有些電器行保養時反而破壞到您的主機，得不償失。</span>
				</li>
				<li>
					<span class="maintenance_third_small_title">服務最快</span><br>
					<span class="maintenance_third_desc">最快4小時內到達服務。</span>
				</li>
				<li>
					<span class="maintenance_third_small_title">定期提醒</span><br>
					<span class="maintenance_third_desc">客戶保養資料建檔, 針對不同機型的客戶定期提醒該保養的時間。</span>
				</li>
				<li>
					<span class="maintenance_third_small_title">不浮濫收費</span><br>
					<span class="maintenance_third_desc">不任意告訴客人更換零件，故意賺取而外價格。</span>
				</li>
			</ul>
		</div>
	</div>
</div>
</section>
<section class="forth_section_main" style="height: 700px; width: 100%">
<div class="container-fluid" style="color:#5b4a42">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-2">
		<div class="maintenance_third_title">三保</div>
		<div class="maintenance_third_title_desc">保養方式</div>
		<ul class="list-unstyled maintenance_third_list">
			<li>
				<span class="maintenance_third_small_title">不定期保養</span><br>
				<span class="maintenance_third_desc">有故障時出勤費一次收費500元，其他費用另計。</span>
			</li>
			<li>
				<span class="maintenance_third_small_title">每月定期保養</span><br>
				<span class="maintenance_third_desc">通知後最快４小時內到達服務地點，出勤費不計。</span>
			</li>
			<li>
				<span class="maintenance_third_small_title">每年定期保養</span><br>
				<span class="maintenance_third_desc">通知後最快8小時內到達服務地點，出勤費不計。</span>
			</li>
		</ul>
		</div>
		<div class="col-sm-6 hidden-xs  hidden-sm">
			<div class="row">
				<div class="col-sm-6">
					<%=image_tag 'main_ball1.svg', class: 'img-responsive forth_ball_1', style: 'height: 100px; position: relative; top: -50px;'%>
				</div>
				<div class="col-sm-6">
					<%=image_tag 'main_ball2.svg', class: 'img-responsive forth_ball_2', style: 'height: 50px; position: relative;'%>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<%=image_tag 'main_big_ball.svg', class: 'img-responsive forth_ball_3', style: 'height: 450px; position: relative; top: -100px;'%>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<%=image_tag 'main_ball3.svg', class: 'img-responsive forth_ball_4', style: 'height: 90px; position: relative; top: -120px;'%>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<section class="fifth_section_main" style="height: 700px; width: 100%">
<div class="container-fluid" style="color:#5b4a42">
	<div class="row">
		<div class="col-sm-6 hidden-xs hidden-sm">
			<%=image_tag 'main_ac.svg', class: 'img-responsive center-block main_ac', style: 'height: 700px;'%>
		</div>
		<div class="col-sm-offset-1 col-sm-5">
		<div class="maintenance_third_title_desc" style="width: 215px;">每年保養種類</div>
		<ul class="list-unstyled maintenance_fifth_list">
			<li>冷氣機外部整理清潔</li><li>蒸發器藥水清洗、馬達上油</li>
			<li>風扇葉清洗</li><li>水盤清洗</li><li>排水管高壓清水沖洗</li>
			<li>室外機高壓水柱清洗</li><li>皮帶調整檢查</li><li>電壓及運轉電流測試</li>
			<li>壓縮機運轉檢查</li><li>冷卻水塔藥水清理 </li><li>過濾網清洗</li>
		</ul>
		<br><br>
		<div class="maintenance_third_title_desc" style="width: 215px;">每月保養種類</div>
		<ul class="list-unstyled maintenance_fifth_list">
			<li>冷氣機外部整理清潔</li>
			<li>過濾網清洗</li>
			<li>電壓及運轉測試 </li>
		</ul>
		</div>
	</div>
</div>
</section>



</div>

<script>
var controller;
$(document).ready(function($) {

	// init controller
	controller = new ScrollMagic();

	var winHeight= $(window).innerHeight();
	var winWidth = $(window).width();
	var origin = (2400).toString()+"px "+(winHeight).toString()+"px";
	var scal   = 0.5*(winWidth/1892);
	var params = { transformOrigin: origin, scale: scal };
	var tween = TweenMax.to(".old_ac", 1, {});
	tween.updateTo(params, true);
	var scene_1 = new ScrollScene({triggerElement: ".first_section_main", triggerHook: "0.001", duration: 1000})
								.setTween(tween) // trigger a TweenMax.to tween
								.addTo(controller)
								//.addIndicators({name: "1 (duration: 0)"}) // add indicators (requires plugin)
	var scene_2 = new ScrollScene({triggerElement: ".first_section_main", duration: 1000, triggerHook: "0.1"})
								.setPin(".old_ac", {pushFollowers: false})
								.addTo(controller);

	new ScrollScene({triggerElement: ".second_section_main"})
								.setTween(TweenMax.to(".second_1_main", 1, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".second_section_main"})
								.setTween(TweenMax.to(".second_2_main", 1, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".second_section_main"})
								.setTween(TweenMax.to(".second_3_main", 1, {autoAlpha: 1, ease: Linear.easeNone}))
								.addTo(controller)

	new ScrollScene({triggerElement: ".forth_section_main", triggerHook: "1"})
								.setTween(TweenMax.from(".forth_ball_1", 1, {top: "-10px", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".forth_section_main", triggerHook: "1"})
								.setTween(TweenMax.from(".forth_ball_2", 1, {top: "50px", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".forth_section_main", triggerHook: "1"})
								.setTween(TweenMax.from(".forth_ball_3", 1, {top: "0px", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".forth_section_main", triggerHook: "1"})
								.setTween(TweenMax.from(".forth_ball_4", 1, {top: "-20px", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".third_section_main", triggerHook: "1"})
								.setTween(TweenMax.from(".third_ball_1", 1, {top: "-40px", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".third_section_main", triggerHook: "1"})
								.setTween(TweenMax.from(".third_ball_2", 1, {top: "50px", ease: Linear.easeNone}))
								.addTo(controller)
	new ScrollScene({triggerElement: ".third_section_main", triggerHook: "1"})
								.setTween(TweenMax.from(".third_ball_3", 1, {top: "90px", ease: Linear.easeNone}))
								.addTo(controller)

	new ScrollScene({triggerElement: ".fifth_section_main", duration: 350})
								.setTween(TweenMax.from(".main_ac", 2, { scale: 0.85 })) // trigger a TweenMax.to tween
								.addTo(controller)

	$(window).on("resize", function () {
			windowHeight = $(window).innerHeight();
 			//$(".old_ac").css({"width": $(window).width()*1.4, "margin-left": -($(window).width()*0.9)});
			winHeight= $(window).innerHeight();
			winWidth = $(window).width();
			origin = (2400).toString()+"px "+(winHeight).toString()+"px";
			scal   = 0.5*(winWidth/1892);
			params = { transformOrigin: origin, scale: scal };
			tween = TweenMax.to(".old_ac", 1, {});
			tween.updateTo(params, true);
			scene_1.setTween(tween);
	});

});
</script>
