<section class="methods_holder">
<%= image_tag 'red_pattern.png', class: "page_red_pattern" %>
<%= image_tag 'red_pattern.png', class: "page_red_pattern", style: "top: 50%;" %>
<%= image_tag 'red_pattern.png', class: "page_red_pattern", style: "bottom: 0px;" %>
<%= image_tag 'light_sun.png', class: "methods_sun", style: "top: 25%; right: 10%"  %>
<%= image_tag 'light_sun.png', class: "methods_sun", style: "top: 50%; left: 0%; height: 200px;"  %>
<%= image_tag 'light_sun.png', class: "methods_sun", style: "top: 75%; right: 25%; height: 100px;"  %>
<%= image_tag 'light_sun.png', class: "methods_sun", style: "bottom: 0; left: 10%;  height: 60px;"  %>
<div class="container">
	<div class="row page_title_holder">
		<div class="col" style="position: relative">
			<%= image_tag 'light_sun.png', class: "page_title_sun" %>
			<div class="page_title_inner_holder">
				<span class="page_title_ch">日式施作</span><span class="page_title_en">Japanese Method</span>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row" style="margin-bottom: 50px;">
		<div class="col">
			<div>
				<div class="methods_content">
				「日本式施作法」是我們公司堅持的方式，完全遵照日本安裝空調嚴苛的施工規定。不光是在施工期間或日後維修保養，均能快速服務，套句廣告詞「就甘心ㄟ」，唯有如此才能保有機器15年以上壽命，更省電、更舒適，你家就是五星級飯店。 唯一採用大金原裝管，還有大金考試合格師博，30年老店安心、放心、就甘心
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-bottom: 50px;">
		<div class="col">
			<div class="methods_content">
				注重各項工程細節，採用高成本工程材料，大金原裝銅管，歐洲喜利得(HILTI)零件，台灣製鋼架，品質有保證
			</div>
			<%= image_tag 'methods/method_1.png', class: "img-fluid methods_img" %>
		</div>
	</div>

	<div class="row" style="margin-bottom: 50px;">
		<div class="col">
			<div class="methods_content">
				日式施作的流程，工程品質優良，優於量販店外包施工
			</div>
			<%= image_tag 'methods/method_2.png', class: "img-fluid methods_img" %>
		</div>
	</div>

	<div class="row" style="padding-bottom: 70px">
		<div class="col">
			<div class="methods_content">
				施作期間標示公司連絡方式和工程進度，不同於一般電器行或量販店在管線配置後只用膠帶將管線口封住，富毅(FEC)採用日式施作法於每個裝配管線中加壓氮氣，以防止水氣及粉塵跑進管線內，影響機器壽命，並加裝壓力錶以確認管線沒有被其他裝潢單位破壞
			</div>
			<div class="text-center">
				<%= image_tag 'methods/method_3.png', class: "img-fluid methods_img w-50" %>
				<%= image_tag 'methods/method_4.jpg', class: "img-fluid methods_img" %>
				<div style="border-color: #543f36;border-width:0.15rem;border-bottom-style:solid;letter-spacing:0.1rem;padding-top:.8rem;">施工不慎造成銅管破裂，因加裝氮氣才得以發現</div>
			</div>
		</div>
	</div>
	<!--
	<div class="row" style="margin-bottom: 100px;">
		<div class="col">
			<div>
				<div class="about_title">品牌</div>
				<div class="about_content">
				三十多年前三個年輕小伙子，懷著來台北掏金的夢想，同一時間進入空調產業實習，且四年後共同創業，過去常有句話說「合字很難」，但我們認為唯有合作才會有意想不到的創意與機會。 如今合作已經三十餘年，合夥人已達十多人，那為何這樣一家小公司竟有這麼多股東參與，因為我們創造很多就業機會並和師傅們共享業績，主要理念是「師傅當老闆，工程品質不馬虎」，每裝一台冷氣就會關係著個人與公司信用存亡，唯有如此才能在業界立於不敗領先群雄。
				近年從日本吸取經驗，觀摩當地空調業後，就決定引進台灣，最先採用「日本式施作法」，日本人非常注重各項工程細節，嚴苛的流程及挑剔的材料，並會事先預防日後可能會發生的工程問題；日本式施作法在很多業界都知道，但是考慮成本貴、耗時…等因素，都捨棄不做…，唯有富毅（ＦＥＣ）不計成本堅持採用，給顧客最好的工程品質。
				iPhone可以維持市場高價，而大家卻心甘情願掏錢購買的原因是什麼？來自它的商譽與價值，我們不是賣iPhone，也不是賣便宜的白牌手機，而是在賣比您想像中更好的服務與價值，聽了我們的故事之後，是否有感同身受？當您家的空調交給我們施工時，我們會以您家就是我家的心態，讓您家更舒適、更安心。
				</div>
				<%= image_tag 'index/pattern.png', class: "about_pattern" %>
			</div>
		</div>
	</div>
	-->
</div>
</section>
