<head>
  	<% if content_for? :title %>
  		<%= yield :title %>
  	<%else%>
  	<title>台北冷氣專家 | DAIKIN大金 | HITACHI日立 | TECO東元</title>
  	<%end%>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="富毅（ＦＥＣ）品牌成立於1983年，創業至今已三十年載。秉持著「沒有品質，哪有明天。」的理念為顧客服務，有最堅強的專業陣容，銷售、設計、保養、維修，一貫施工，完全不假他手。本公司以服務和技術起家，配合度高，品質有保障。 二十年來從日本吸取經驗，觀摩當地空調業並引進台灣，最先採用「日本式施工方法」，注重各項工程流程、材料；因此，本公司在業界及消費者的心中，建立有如「賓士級」的空調服務公司形象，且公司內所有專業技術員皆有台北市電器公會認證合格證照。 多年服務的口碑也被大金、東元列為特約服務站，ㄧ切強調責任施工、永續經營。專營冷氣安裝、保養、維修" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= yield :meta%>
    <%= csrf_meta_tags %>
  	<%= favicon_link_tag 'logo.png' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<script src='https://www.google.com/recaptcha/api.js'></script>-->
</head>
