<!DOCTYPE html>
<html>
  <%=render "layouts/header" %>
  <body>
  	<div class="cover"></div>
  	<%=render "layouts/menu" %>
    <%= yield %>
  	<%=render "layouts/footer" %>
		<%=render "layouts/script" %>
  </body>
</html>
